<?xml version="0.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-insomnia"
        version="4.3.0">

  <name>Insomnia (prevent screen sleep)</name>

  <description>
    Prevent the screen of the mobile device from falling asleep.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=7.0.0"/>
  </engines>

  <js-module src="www/Insomnia.js" name="Insomnia">
    <clobbers target="window.plugins.insomnia" />
  </js-module>

  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Insomnia">
        <param name="ios-package" value="Insomnia"/>
      </feature>
    </config-file>
    <source-file src="src/ios/Insomnia.swift" />
    <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
  </platform>


  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Insomnia">
        <param name="android-package" value="tombola.plugins.Insomnia" />
      </feature>
    </config-file>
    <source-file src="src/android/Insomnia.java" target-dir="src/tombola/plugins"/>
  </platform>

</plugin>
